body {
    background-color: white;
    font-family: 'Raleway', sans-serif;
}

/*Reset the default values of user agent stylesheets*/
* {
    margin: 0;
    padding: 0;
}

/*with display there wont be elements dimensions like height and width*/
.navigation ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    list-style: none;
}

.navigation li {
    width: 200px;
    justify-content: space-between;
    font-weight: 100;
    letter-spacing: 2px;
    font-size: 18px;
    padding: 10px;
    margin: 30px;
}

.navigation li:hover {
    background-color: #f8f8f8;
}

#banner {
    background-image: url("https://s3.amazonaws.com/codecademy-content/courses/web-101/unit-6/htmlcss1-img_tahoe.jpeg");
    background-size: cover;
    background-position: bottom center;
    height: 700px;
    width: 100%;
}

#banner .content {
    padding-top: 50px;
}

/*There is also an option of centering this element*/
#banner .content h1 {
    border: 2px solid white;
    float: right;
    margin-right: 50px;
    /*margin: 0 auto;*/
    width: 450px;
    padding: 30px;
    background-color: rgba(150, 150, 150, 0.3);
}

#main {
    margin: 0 auto;
    padding: 40px;
    text-align: center;
    width: 1000px;
    height: 1400px;
}

h1 {
    color: white;
    font-size: 42px;
    font-weight: 600;
    text-align: center;
}

h2 {
    border: 1px dotted red;
    color: red;
    font-size: 14px;
    line-height: 48px;
    padding: 20px 30px;
    margin: 30px 20px;
    text-align: center;
}

h3 {
    color: red;
    font-size: 26px;
    font-weight: 700;
    padding: 20px 10px;
}

.differ {
    float: left;
    width: 0.7em;
    font-size: 300%;
    font-family: algerian;
    line-height: 80%;
}
p {
    color: grey;
    font-size: 16px;
    line-height: 48px;
    margin-top: 25px;
    padding: 10px 20px;
}

.pull-quote {
    margin: 0 auto;
    width: 650px;
}

.byline {
    border-bottom: 1px solid LightGrey;
    border-top: 1px solid LightGrey;
    color: DarkGrey;
    font-size: 14px;
    font-weight: 600;
}

.share {
    border: 1px solid LightGrey;
    padding: 40px 0px;
    position: relative;
    text-align: center;
    width: 100%;
}

.share a {
    background: red;
    border: 1px solid red;
    border-radius: 4px;
    color: white;
    display: inline-block;
    margin: 10px;
    padding: 10px;
    text-decoration: none;
    font-size: 18px;
    width: 100px;
}

.share a:hover {
    background: white;
    border: 1px solid red;
    color: red;
    font-weight: 600;
}