* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFF;
    margin: 0 auto;
}

header {
    background-color: #466995;
    position: fixed;
    display: block;
    width: 200px;
    z-index: 10;
}

ul {
    text-align: center;
    list-style: none;
}

/*Text-decoration removes underline in hyperlinks.
Using display block allows change "a" dimensions.
Adding border with the same color as text allows avoid moving elements when hover works(due to this we have the same dimensions of the box).*/
.nav-question {
    display: block;
    border: 1px solid #466995;
    text-decoration: none;
    color: #FFF;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    font-weight: 200;
    letter-spacing: 2px;
    text-transform: uppercase;
    width: 200px;
    padding: 20px 0px;
}

.nav-question:hover {
    color: #466995;
    background-color: #DBE9EE;
    border: 1px solid #466995;
}

h1 {
color: #466995;
font-family: 'Oswald', sans-serif;
font-size: 32px;
text-transform: uppercase;
padding-bottom: 20px;
}

h2 {
color: #333;
font-family: 'Mongolian Baiti', sans-serif;
font-size: 22px;
font-weight: 100;
margin: 0 auto 20px auto;
}

h3 {
color: #466995;
font-family: 'Oswald', sans-serif;
font-size: 18px;
text-align: center;
font-weight: 500;
text-transform: uppercase;
padding: 30px;
}

.head-quest {
color: #466995;
font-family: 'Oswald', sans-serif;
font-size: 25px;
font-weight: 300;
letter-spacing: 2px;
text-align: center;
text-transform: uppercase
}

p {
color: #333;
font-family: 'Mongolian Baiti', sans-serif;
font-size: 20px;
}

footer {
    background-color: #DBE9EE;
    margin-top: 60px;
    height: 100px;
}

.foot {
    font-weight: bold;
    text-align: center;
}

.welcome {
background-color: #DBE9EE;
padding: 40px;
text-align: center;
width: 100%;
}

.question {
    text-align: center;
    padding-top: 30px;
/*position: relative;*/
/*top: 40px;*/
}

.answer {
border: 2px solid #799dc9;
margin: 20px;
display: inline-block;
border-radius: 5px;
}

.answer:hover {
    background: #e5eef2;
    color: #FFF;
}