* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #F7F7F7;
    /* Old browsers */
    background: -moz-linear-gradient(45deg, #F7F7F7 0%, #EAE0D5 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #F7F7F7 0%, #EAE0D5 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #F7F7F7 0%, #EAE0D5 100%);
}

/*The header element*/
header {
    background-image: url(https://images.unsplash.com/photo-1455267847942-f4fdb784f0c5?dpr=1&auto=format&crop=entropy&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb);
    background-color: hsl(1, 18%, 80%); /* A background-color is set in case the image is unavailable.*/
    height: 600px;
    background-size: cover; /* Resize the background image to cover the entire container */
    background-position: center; /* Center the image */
    /*background-repeat: no-repeat;*/
}

.header {
    width: 800px; /*To center an element it`s needed width to be set*/
    margin: 0 auto;
    padding-top: 200px;
    padding-left: 70px;
    text-align: center;
    /*position: relative;*/ /* Usage relative in rare occasions*/
    /*top: 200px;*/
    /*left: 410px;*/
}

.header h1 {
    font-family: "Bookman Old Style";
    font-size: 80px;
    font-weight: 300;
    letter-spacing: 10px;
    color: white;
}


/*Note element*/

.note {
    width: 65%;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 20px;
    border-bottom-style: double;
    border-color: hsl(6, 17%, 45%);

}

.main-note {
    padding-bottom: 20px;
    font-size: 30px;
    letter-spacing: 1px;
    text-align: center;
    color: hsl(6, 17%, 40%);
}

.note p {
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 1px;
    color: hsl(6, 5%, 43%);
}